<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Xplanet</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/dashboard.css' %}">
</head>
    <body style="background-color: rgb(18, 18, 94);">
    <div id="bodyBox">
        <!-- NAV BAR -->
        <div id="navBox">
            <img src="{% static 'img/out6.png' %}" alt="Xplanet Icon">
            <nav>
                <ul>
                    <li><a href="/xplanet" class="li">Home</a></li>
                    <li><a href="#" style="color: cyan;">Dashboard</a></li>
                    <li><a href="/xplanet/humans" class="li">Humans</a></li>
                    <li><a href="/xplanet/forum" class="li">Forums</a></li>
                    <li><a href="/xplanet/news" class="li">News</a></li>
                    <li><a href="/xplanet/settings" class="li">Settings</a></li>
                    <li>|</li>
                    <li><a href="/Logout" class="li">Log Out</a></li>
                </ul>
            </nav>
        </div>
        <!-- SIDE BAR -->
        <div class="uibase">
            <div id="sideBox">
                <div class="following">
                    <h2 style="margin-bottom: 20px;">Humans You Follow:</h2>
                    <div class="followList">
                        <ul>
                            {% if Following %}
                                {% for human in Following %}
                                    <div class="fghead" style="display: flex;">
                                        {% if human.image %}
                                            <img src="{{ human.image.url }}" alt="Profile Pic of who your following" style="width: 50px; max-height: 50px; margin-right: 20px;"><br>
                                        {% endif %}
                                        <li><a class="folg" href="/xplanet/viewhuman/{{ human.name }}">{{ human.name }}</a></li>
                                    </div><br>
                                {% endfor %}
                            {% else %}
                                <li>No humans here!</li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
                <div class="followers">
                    <h2 style="margin-bottom: 20px;">Following Humans:</h2>
                    <div class="followList">
                        <ul>
                            {% if Followers %}
                                {% for human in Followers %}
                                    <div class="frhead" style="display: flex;">
                                        {% if human.image %}
                                            <img src="{{ human.image.url }}" alt="Profile Pic of who your following" style="width: 50px; max-height: 50px; margin-right: 20px;"><br>
                                        {% endif %}
                                        <li><a class="fol" href="/xplanet/viewhuman/{{ human.name }}">{{ human.name }}</a></li>
                                    </div><br>
                                {% endfor %}
                            {% else %}
                                <li>No humans here!</li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
                <br><marquee behavior="scroll" direction="left" scrollamount="13"><img src="{% static 'img/X.png' %}"></marquee><br>
                <br><marquee behavior="scroll" direction="right" scrollamount="11"><img src="{% static 'img/p.png' %}"></marquee><br>
                <br><marquee behavior="scroll" direction="left" scrollamount="1"><img src="{% static 'img/l.png' %}"></marquee><br>
                <br><marquee behavior="scroll" direction="right" scrollamount="7"><img src="{% static 'img/a.png' %}"></marquee><br>
                <br><marquee behavior="scroll" direction="left" scrollamount="5"><img src="{% static 'img/n.png' %}"></marquee><br>
                <br><marquee behavior="scroll" direction="right" scrollamount="9"><img src="{% static 'img/e.png' %}"></marquee><br>
                <br><marquee behavior="scroll" direction="left" scrollamount="3"><img src="{% static 'img/t.png' %}"></marquee><br>
                <br><marquee behavior="scroll" direction="right" scrollamount="13"><img src="{% static 'img/X.png' %}"></marquee><br>
                <br><marquee behavior="scroll" direction="left" scrollamount="11"><img src="{% static 'img/p.png' %}"></marquee><br>
                <br><marquee behavior="scroll" direction="right" scrollamount="1"><img src="{% static 'img/l.png' %}"></marquee><br>
                <br><marquee behavior="scroll" direction="left" scrollamount="7"><img src="{% static 'img/a.png' %}"></marquee><br>
                <br><marquee behavior="scroll" direction="right" scrollamount="5"><img src="{% static 'img/n.png' %}"></marquee><br>
                <br><marquee behavior="scroll" direction="left" scrollamount="9"><img src="{% static 'img/e.png' %}"></marquee><br>
                <br><marquee behavior="scroll" direction="right" scrollamount="3"><img src="{% static 'img/t.png' %}"></marquee><br>
                <br><marquee behavior="scroll" direction="left" scrollamount="13"><img src="{% static 'img/X.png' %}"></marquee><br>
                <br><marquee behavior="scroll" direction="right" scrollamount="11"><img src="{% static 'img/p.png' %}"></marquee><br>
                <br><marquee behavior="scroll" direction="left" scrollamount="1"><img src="{% static 'img/l.png' %}"></marquee><br>
                <br><marquee behavior="scroll" direction="right" scrollamount="7"><img src="{% static 'img/a.png' %}"></marquee><br>
                <br><marquee behavior="scroll" direction="left" scrollamount="5"><img src="{% static 'img/n.png' %}"></marquee><br>
                <br><marquee behavior="scroll" direction="right" scrollamount="9"><img src="{% static 'img/e.png' %}"></marquee><br>
                <br><marquee behavior="scroll" direction="left" scrollamount="3"><img src="{% static 'img/t.png' %}"></marquee><br>
                <br><marquee behavior="scroll" direction="right" scrollamount="13"><img src="{% static 'img/X.png' %}"></marquee><br>
                <br><marquee behavior="scroll" direction="left" scrollamount="11"><img src="{% static 'img/p.png' %}"></marquee><br>
                <br><marquee behavior="scroll" direction="right" scrollamount="1"><img src="{% static 'img/l.png' %}"></marquee><br>
                <br><marquee behavior="scroll" direction="left" scrollamount="7"><img src="{% static 'img/a.png' %}"></marquee><br>
                <br><marquee behavior="scroll" direction="right" scrollamount="5"><img src="{% static 'img/n.png' %}"></marquee><br>
                <br><marquee behavior="scroll" direction="left" scrollamount="9"><img src="{% static 'img/e.png' %}"></marquee><br>
                <br><marquee behavior="scroll" direction="right" scrollamount="3"><img src="{% static 'img/t.png' %}"></marquee><br>
            </div>
            <!-- CONTENT -->
            <div id="contentBox">
                <div class="userfo">
                    <h1 style="margin-bottom: 20px;">Profile</h1>
                    <h3 style="margin-bottom: 30px;">Profile Picture:</h3>
                    {% if User.image %}
                        <img src="{{ User.image.url }}" alt="Your Profile Pic Here" style="width: 300px; max-height: 300px;"><br>
                    {% endif %}
                    <br><h3 style="margin-bottom: 30px;">User Name: {{ User.name }}</h3>
                    <h3>Bio:</h3>
                    <div class="bio">
                    <p>{{ User.bio }}</p>
                    </div>
                    <div class="quicklinks">
                        <ul>
                            <li>Dash links:</li>
                            <li><a href="#post">Your Posts</a></li>
                            <li><a href="#liked">Posts You Liked</a></li>
                            <li><a href="#comments">Comments You Made</a></li>
                        </ul>
                    </div>
                </div>
                <div class="uposts">
                    <section id="post">
                        <h1>Your Posts:</h1>
                        {% if Posts %}
                            {% for post in User.posts.all %}
                            <div class="Phead">
                                <h2>{{ post.title }} - <span style="font-size: 15px;">{{ post.profile.name }} | {{ post.created_at }}</span></h2>
                            </div>
                            <div class="Ptails">
                                <p>{{ post.post }}</p>
                            </div>
                                <ul>
                                    {% for comment in post.comments.all %}
                                        <div class="Chead">
                                            <h3>{{ comment.profile.name }} | {{ comment.created_at }}</h3>
                                        </div>
                                        <div class="Ctails">
                                            <p>{{ comment.comment }}</p>
                                        </div>
                                    {% endfor %}
                                </ul>
                            {% endfor %}
                        {% else %}
                        <div class="Phead">
                            <h2>You Have No Posts!</h2>
                        </div>
                            {% endif %}
                    </section>
                    <section id="liked">
                        <h1>Posts You Liked:</h1>
                        {% if User_liked %}
                            {% for like in User_liked.all %}
                            <div class="Phead">
                                <h2>{{ like.title }} <span>{{ like.profile.name }}</span></h2>
                            </div>
                            <div class="Ptails">
                                <p>{{ like.post }}</p>
                            </div>
                            <ul>
                                {% for comment in like.comments.all %}
                                <div class="Chead">
                                    <h3>{{ comment.profile.name }}</h3>
                                </div>
                                <div class="Ctails">
                                    <p style="margin-bottom: 20px; min-height: 100px; border: 2px solid rgb(68, 68, 68); padding: 5px;">{{ comment.comment }}</p>
                                </div>
                                    {% endfor %}
                            </ul>
                            {% endfor %}
                        {% else %}
                        <div class="Phead">
                            <h2>You Have Not Liked a Post!</h2>
                        </div>
                            {% endif %}
                    </section>
                    <section id="comments">
                        <h1>Comments You Made:</h1>
                        {% if User_comments %}
                            {% for comment in User_comments.all %}
                            <div class="Phead">
                                <h2>Post Name:{{ comment.post.title }} -<span style="font-size: 15px;">Owner:{{ comment.post.profile.name }}</span></h2>
                            </div>
                            <div class="Ctails">
                                <p style="margin-bottom: 20px; min-height: 100px; border: 2px solid rgb(68, 68, 68); padding: 5px;">Your Comment: {{ comment.comment }}</p>
                            </div>
                                {% endfor %}
                        {% else %}
                        <div class="Phead">
                            <h2>You Made No Comments!</h2>
                        </div>
                            {% endif %}
                    </section>
                </div>
            </div>
        </div>
    </div>
    <div id="footBox">
        <footer><marquee behavior="scroll" direction="left">(O <_ O) {{ User.name }} is Currently Logged In to XPLANET Welcome Human! (O _> O)</marquee></footer>
    </div>
</body>
</html>